<div id="counters" role="region" [attr.aria-label]="'counters.sectionAria' | t">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="counter">
          <div class="counter-icon"><app-fa-icon name="calendar" /></div>
          <div class="number"><span>{{ countYears() }}</span></div>
          <h4 class="fw-normal">{{ 'counters.years' | t }}</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter">
          <div class="counter-icon"><app-fa-icon name="check" /></div>
          <div class="number"><span>{{ countProjects() }}</span></div>
          <h4 class="fw-normal">{{ 'counters.projects' | t }}</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter">
          <div class="counter-icon"><app-fa-icon name="users" /></div>
          <div class="number"><span>{{ countClients() }}</span></div>
          <h4 class="fw-normal">{{ 'counters.clients' | t }}</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter">
          <div class="counter-icon"><app-fa-icon name="rocket" /></div>
          <div class="number"><span>{{ countMilestones() }}</span></div>
          <h4 class="fw-normal">{{ 'counters.milestones' | t }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
