<div id="about">
  <div class="container">
    <div class="section-header">
      <h2>{{ 'about.title' | t }}</h2>
      <p class="about-lead">
        <strong>Zentrox LLC</strong> {{ 'about.lead' | t }}
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 about-col">
        <div class="about-content">
          <i class="fa fa-history"></i>
          <h3>{{ 'about.story.title' | t }}</h3>
          <p>{{ 'about.story.body' | t }}</p>
        </div>
      </div>
      <div class="col-md-4 about-col">
        <div class="about-content">
          <i class="fa fa-bullseye"></i>
          <h3>{{ 'about.mission.title' | t }}</h3>
          <p>{{ 'about.mission.body' | t }}</p>
        </div>
      </div>
      <div class="col-md-4 about-col">
        <div class="about-content">
          <i class="fa fa-eye"></i>
          <h3>{{ 'about.vision.title' | t }}</h3>
          <p>{{ 'about.vision.body' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
