<div class="trust-bar" role="region" [attr.aria-label]="'trust.barAria' | t">
  <div class="container">
    <ul class="trust-bar__list">
      <li class="trust-bar__item">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>{{ 'trust.reply' | t }}</span>
      </li>
      <li class="trust-bar__item">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span>{{ 'trust.hours' | t }}</span>
      </li>
      <li class="trust-bar__item">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <span>{{ 'trust.scopes' | t }}</span>
      </li>
      <li class="trust-bar__item">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>{{ 'trust.senior' | t }}</span>
      </li>
    </ul>
  </div>
</div>
