<div class="trust-bar" role="region" [attr.aria-label]="'trust.barAria' | t">
  <div class="container">
    <ul class="trust-bar__list">
      <li class="trust-bar__item">
        <app-fa-icon name="clock-o" />
        <span>{{ 'trust.reply' | t }}</span>
      </li>
      <li class="trust-bar__item">
        <app-fa-icon name="globe" />
        <span>{{ 'trust.hours' | t }}</span>
      </li>
      <li class="trust-bar__item">
        <app-fa-icon name="handshake-o" />
        <span>{{ 'trust.scopes' | t }}</span>
      </li>
      <li class="trust-bar__item">
        <app-fa-icon name="users" />
        <span>{{ 'trust.senior' | t }}</span>
      </li>
    </ul>
  </div>
</div>
