<div id="services">
  <div class="container">
    <div class="section-header">
      <h2>{{ 'nav.services' | t }}</h2>
      <p>{{ 'services.intro' | t }}</p>
    </div>
    <div class="row services-models-row">
      <div class="col-md-4">
        <div class="service-model-card">
          <h3>{{ 'services.model1.title' | t }}</h3>
          <p>{{ 'services.model1.body' | t }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-model-card">
          <h3>{{ 'services.model2.title' | t }}</h3>
          <p>{{ 'services.model2.body' | t }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-model-card">
          <h3>{{ 'services.model3.title' | t }}</h3>
          <p>{{ 'services.model3.body' | t }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="code" /></div>
          <h3>{{ 'services.web.title' | t }}</h3>
          <div class="service-detail">{{ 'services.web.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="desktop" /></div>
          <h3>{{ 'services.frontend.title' | t }}</h3>
          <div class="service-detail">{{ 'services.frontend.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="server" /></div>
          <h3>{{ 'services.backend.title' | t }}</h3>
          <div class="service-detail">{{ 'services.backend.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="database" /></div>
          <h3>{{ 'services.data.title' | t }}</h3>
          <div class="service-detail">{{ 'services.data.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="check-circle" /></div>
          <h3>{{ 'services.qa.title' | t }}</h3>
          <div class="service-detail">{{ 'services.qa.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="cogs" /></div>
          <h3>{{ 'services.ai.title' | t }}</h3>
          <div class="service-detail">{{ 'services.ai.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="gamepad" /></div>
          <h3>{{ 'services.game.title' | t }}</h3>
          <div class="service-detail">{{ 'services.game.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="sitemap" /></div>
          <h3>{{ 'services.devops.title' | t }}</h3>
          <div class="service-detail">{{ 'services.devops.body' | t }}</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="service-col">
          <div class="service-icon"><app-fa-icon name="cubes" /></div>
          <h3>{{ 'services.custom.title' | t }}</h3>
          <div class="service-detail">{{ 'services.custom.body' | t }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
